.policy {
    padding: 0 10px;
    margin: 0 0 50px;

    .container {
        margin: auto;
        padding: 0 5% 0 10%;
        max-width: 1200px;
        direction: rtl;

        h3 {
            margin: 30px 0 11px;

            &.under-line {
                text-decoration: underline;
            }
        }

        p {
            margin-bottom: 15px;
            font-size: 19.5px;
            line-height: 25px;
        }
    }
}

@media only screen and (max-width: 760px) {
    .policy {
        .container {
            padding: 0 1% 0 5%;
        }
    }
    
}